<ion-header>
  <ion-toolbar color="primary ">
    <ion-item-group slot="start">
      <ion-thumbnail slot="start">
        <img src="assets/icon/favicon.ico" alt="" />
      </ion-thumbnail>
      <ion-title>{{title}}</ion-title>
    </ion-item-group>
    <ion-avatar *ngIf="profile !== null&& profile.image !== null" slot="end">
      <ion-img
        [src]="profile?.image"
        class="ion-padding"
        (click)="avatarClicked($event)"
      ></ion-img>
    </ion-avatar>
    <ion-icon
      name="log-out"
      style="font-size: 2rem"
      slot="end"
      (click)="signOut()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet (setTitle)="setTitle($event)"></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calendar">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="events">
        <ion-icon name="airplane-outline"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
